<div class="full-width">
    <div class="footer-content">
        <div class="logo">
            <img src="../../assets/img/logo-white-new.png" alt="" />
            <a class="desktop-version" target="_blank" (click)="goToImprint()">{{ 'imprint' | translate }}</a>
        </div>
        <div class="name">
            © Oumout Resit Ismail 2024
        </div>
        <div class="socials">
            <a target="_blank" href="https://github.com/CodeArcher204"><img src="../../assets/img/icons/github_icon.svg" alt=""></a>
            <a href="#contact"><img src="../../assets/img/icons/email_icon.svg" alt=""></a>
            <a target="_blank" href="https://linkedin.com/in/oumoutresitsmail"> <img src="../../assets/img/icons/linkedin_icon.svg" alt=""> </a>  
        </div>
        <a class="mobile-version" target="_blank" (click)="goToImprint()" >{{ 'imprint' | translate }}</a>
    </div>
</div>