<div class="full-width">
  <img class="background-img" src="../../assets/img/Vector_V2.png" alt="" />
    <div class="content">

      <div class="about-me-text">
        <div>
          <h1>{{ 'aboutMe' | translate }}</h1>
          <p>{{ 'aboutMeText' | translate }}</p>
        </div>
        <div class="icon-text">
          <img src="../../assets/img/icons/bulb1.svg" alt="Bulb" />
          <p>{{ 'bulb' | translate }}</p>
        </div>
        <div class="icon-text">
          <img src="../../assets/img/icons/puzzle.svg" alt="Puzzle" />
          <p>{{ 'puzzle' | translate }}</p>
        </div>
      </div>
      <div class="picture-container">
        <img class="background-shadow" src="../../assets/img/green_purple_shadow_group.svg" alt="Background Image" />
        <img class="hero-photo" src="../../assets/img/icons/hero_character_photo.png" alt="Hero Photo" />
      </div>
    </div>
  </div>
  