<div class="full-width">
    <div class="content">
        <div class="mobile-container">
            <a class="btn mobile-btn" href="#contact">{{ "getInTouch" | translate }}</a>
        </div>
        <div class="icons">
            <div class="icon-row">
                <img src="../../assets/img/icons/skills/Js.png" alt="Javascript" />
                <img src="../../assets/img/icons/skills/Git.png" alt="Git" />
                <img src="../../assets/img/icons/skills/Scrum.png" alt="Scrum" />
                <img src="../../assets/img/icons/skills/material_design.png" alt="Material Design" />
            </div>
            <div class="icon-row">
                <img src="../../assets/img/icons/skills/Angular.png" alt="Angular" />
                <img src="../../assets/img/icons/skills/Firebase.png" alt="Firebase" />
                <img src="../../assets/img/icons/skills/Rest API.png" alt="Rest API" />
            </div>
            <div class="icon-row">
                <img src="../../assets/img/icons/skills/Ts.png" alt="Typescript" />
                <img src="../../assets/img/icons/skills/CSS.png" alt="Cascading Style Sheets" />
            </div>
            <div class="icon-row-4">
                <img src="../../assets/img/icons/skills/html.png" alt="Hypertext Markup Language" />
            </div>
        </div>
        <div class="skills-text-container">
            <div class="skills-header">
                <h1>Skills</h1>
                <img src="../../assets/img/icons/LINE2.png" alt="Line" />
            </div>
            <div class="skills-text">
                <p>{{ "skillsText" | translate }}</p>
                <a class="btn desktop-btn" href="#contact">{{ "getInTouch" | translate }}</a>
            </div>
        </div>
    </div>
</div>
