.full-width {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .content {
        padding: 0 32px;
    }
}