<div class="full-width">
    <div class="content">
        <div class="header">
            <h2>{{ 'getInTouch' | translate }}</h2>
            <div class="line"></div>
        </div>
        <div class="form-container">
            <div class="text">
                <div class="headline-container">
                    <div class="small-line"></div>
                    <h3>{{ 'contactHeader' | translate }}</h3>
                </div>
                <p>{{ 'contactText' | translate }}</p>
                <p>{{ 'contactTextLine2' | translate }} <b>{{ 'contactTextLine3' | translate }}</b></p>
            </div>
            <div class="form">
                <app-contact-form />
            </div>
        </div>
        <div class="go-up-container">
            <a href="#" class="go-up-btn">
                <div class="go-up-icon"></div>
            </a>
        </div>
        <img class="background-shadow" src="../../assets/img/blue-shadow-footer.png" alt="">
    </div>
</div>
