<div class="full-width">
    <div class="content">
        <div class="headline-container">
            <div class="headline">
                <div class="line"></div>
                <h2>Portfolio</h2>
            </div>
            <div class="description">
                <p>{{ 'descriptionPortfolio' | translate }}</p>
            </div>
        </div>
        <div class="projects">
            <app-portfolio-card />
        </div>
        <img src="../../assets/img/green-shadow-portfolio.png" alt="" class="background-shadow-green">
        <img src="../../assets/img/blue-shadow-portfolio.png" alt="" class="background-shadow-blue">
    </div>
</div>