<div class="full-width">
    <div class="content">
        <div class="header">
            <h2>Impressum</h2>
            <div class="line"></div>
        </div>
        <div class="text">
            <p>Information of the Owner Website:</p>
            <p>
                Oumout Resit Ismail<br />
                Schildstraße 8<br />
                95111 Rehau<br />
            </p>
            <p>
                Contact:<br />
                Telephone: 01522523040<br />
                Email: {{ "codearcher204@gmail.com" }}<br />
            </p>
        </div>
    </div>
</div>
